
@{
    ViewBag.Title = "Ereuna - Building Your Story";
}

<h2>Ereuna</h2>
<p>
    A new project.
</p>

<h2>Login</h2>
<p>
    <div>Facebook:</div> 
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
    <div id="status"></div>
</p>
