/* Redorange = FF4000 */
body {
    padding: 0px;
    margin: 0px;
    background-color: #111;
    color: #EEE;
    height: 100vh;
}

.MenuBar {
    color: #FF4000;
    padding: 0px;
    margin: 0px;
}

.MenuBar .Tab {
    border: 1px #444444 solid;
    height: 40px;
    display: inline;
    position: relative;
    line-height: 40px; 
    vertical-align: middle;
    background-color: #333;
}
.MenuBar .Title {
    font-size: larger;
}


.navbar .Logo {
    width: 20px;
}


.navbar-inverse .divider-vertical {
    height: 30px;
    margin: 10px 9px;
    padding-top: 0px;
    border-right: 1px solid #555555;
    border-left: 1px solid #222222;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

.AppBody {
    background-color: #333;
    border: 1px #555 solid;
    border-radius: 10px;
    margin: 10px;
    padding: 0;
    height: 90%;
}

.SectionGroupBox {
    background-color: #444;
    border: 1px #666 solid;
    border-radius: 10px;
    padding: 5px;
}

.ProjectBody {
    padding: 15px;
}

.navbar-inverse.ProjectMenu {
    padding: 0;
    margin: 0;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: solid 1px #666;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #2B2B2B;
}


.ProjectMenu .divider-vertical {
    height: 50px;
    width: 1px;
    margin: 0px;
    padding: 0px;
}

.ProjectMenu li {
    padding-left: 10px;
    padding-right: 10px;
}


.Accordion .panel {
    background-color: transparent;
    border: 0px;
}

.Accordion .panel-body {
    border: 0px;
}

.Accordion .list-group-item {
    background-color: transparent;
    border: 0px;
    color: #aaa;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;
    padding-right: 0px;
    margin-right: 0px;
}

.Accordion a:active, .Accordion a:hover, .Accordion a:link, .Accordion a:visited {
    text-decoration: none;
}


.Accordion .list-group-item.SelectedCharacter{
    background-color: #555;
    background: -webkit-linear-gradient(left, #333 , #777, #333); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #333, #777); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #333, #777); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #444, #666 , #333); /* Standard syntax */
    


    border: 0px;
    color: #aaa;
    padding-right: 0px;
    margin-right: 0px;
}

.CharacterList {
    padding: 0px;
}



