<div ng-include="'projectmenu.html'"></div>

<div class="ProjectBody">
    <div class="container-fluid">
        <div class="col-lg-5">

            <h4>Project Information</h4>

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="projectName">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="projectName" ng-show="IsEditingProject" ng-model="ProjectName"/>
                        <p class="form-control-static" ng-show="!IsEditingProject">{{ProjectName}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Type:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ProjectType}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="projectInformation">Summary:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="5" id="projectInformation" ng-show="IsEditingProject" ng-model="ProjectInformation"></textarea>
                        <p class="form-control-static" ng-show="!IsEditingProject">{{ProjectInformation}}</p>
                    </div>
                </div>

                <div class="form-group ">
                    <div ng-show="!IsEditingProject" class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" ng-click="EditProject()">Edit</button>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10" ng-show="IsEditingProject">
                        <button type="submit" class="btn btn-success" ng-click="SaveProject()">Save</button>
                        <button type="submit" class="btn btn-danger" ng-click="CancelProjectChanges()">Cancel</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-lg-7">
            <h4>Project Ideas</h4>

            <div>
                <ul ui-sortable ng-model="Ideas" class="list-group ">
                    <li class="list-group-item" ng-repeat="idea in Ideas">
                        <span class="badge">{{idea.Importance}}</span>
                        <span ng-click="SelectIdea(idea.Id)">{{idea.Title}}</span>
                    </li>
                </ul>
            </div>

            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#NewIdeaModal">Add new idea</button>

        </div>

        <div id="NewIdeaModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> New Project Idea!</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="ideaTitle">Title/Summary:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ideaTitle" ng-model="NewIdeaTitle"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="ideaDescription">Description:</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="5" id="ideaDescription" ng-model="NewIdeaDescription"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="ideaImportance">Importance:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ideaImportance" ng-model="NewIdeaImportance">
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="AddIdea()">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="EditIdeaModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> Update Project Idea</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="ideaTitle">Title/Summary:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ideaTitle" ng-model="SelectedIdeaTitle"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="ideaDescription">Description:</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="5" id="ideaDescription" ng-model="SelectedIdeaDescription"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="ideaImportance">Importance:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ideaImportance" ng-model="SelectedIdeaImportance">
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="SaveExistingIdea()">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="RevertExistingIdea()">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

