<div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">Foo</span>
                    <span class="icon-bar">Bar</span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">EREUNA</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <h2>Manage Projects</h2>
    <a ui-sref="home">Home</a>

</div>