/* Redorange = FF4000 */


body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #000;
    align-content: center;
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.bodycontent {
    padding-left: 15px;
    padding-right: 15px;
    width: 960px;
    margin: auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.tophalf {
    background-color: black;
    padding-bottom: 0px;
    padding-top: 0px;
}

.bottomhalf {
    background-color: #CCC;
    border-top: #666 solid 1px;
}

.contenttop {
    margin: 20px 0px 40px;
}

.contentmiddle {
    height: 500px;
    margin-top: 20px;
    margin-bottom: 70px;
}


.header {
    background-color: #FFF;
    color: #FF4000;
    border-radius: 8px;
}

.header [class*="col-"] {
    height: 80px;
    vertical-align: middle;
    line-height: 80px;
}


.infobox {
    margin-top: -30px;
    margin-bottom: 5px;
    height: 280px;
    padding-left: 10px;
    padding-right: 10px;
    
    background-color: white;

    border: 1px solid darkgray;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.infobox h3 {
    text-align: left;
    color: #662222;
}

.infobox img {
    max-width: 100%;
    padding: 2px;
    margin: 5px 0px;
    border: 1px solid lightgray;
}

.loginbox {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    
    background-color: white;

    border: 1px solid darkgray;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.verticalline {
    text-align: center;
    align-content: center;
    margin: auto;
    width: 1px;
    height: 300px;
    background-color: #777;
}